* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DNA {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateZ(-50deg);
}

.cell {
  position: relative;
  width: 1px;
  height: 100px;
  margin: 0 10px;
  background: transparent;
  border: 1.1px dotted #fff;
  box-shadow: 0 0 105px #00eaff;
  animation: rotate 3s linear infinite;
}

.cell::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #00eaff;
  box-shadow: 0 0 150px #00eaff;
}

.cell::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgb(255, 251, 0);
  box-shadow: 0 0 120px rgb(246, 255, 0);
}

